 /* hero section */
#hero{
    /* display: flex; */
    text-align: center;
    /* width: 998px;
    height: 136px; */
    align-items: center;
    padding: 0px;
    margin: 0 auto;    
    background-image: url('../assets/Hero-bg.png');
    margin: 131px 0px ;
}

.heder-up-pic{
    margin: 26px 386px ;
}
#header{
    /* margin-top: 100px; */
    font-size:48px;
    font-weight:800px;

}
#hero{
    /* background-image: url('../assets/Hero-bg.png');
    position: absolute;
    width: 1440px;
    height: 652px; */
}

.font{

.azeret-mono- {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-size: 32px;

}
}




.section-decription{
    margin:24px 0 ;
}

.btn-bg{
    background-color:rgb(13, 19, 33) ;
    font-weight:600px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 21px 24px;
    border: none;
    margin: 32px 44px ;
    
}

main

 /* .why-we-development{
    background-color: rgba(13, 19, 33, 0.02) ;
    text-align: center;
    align-items: center;
    padding: 0px;
} */

/* .header-why{
    font-size: 40px;
    padding-top: 80px;

} */

/* .content-why{
    display: flex;
    flex-direction: column;
    justify-content:flex-start
} */ */

/* /* .why-section{
   border: none;
}

/* #yellow{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
} */

.div-1{
    flex-direction: column; 
} */


/* new */

.parent{
    /* max-width: 0px auto; */
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 80px ;
}
.parent-2nd-child{
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 80px ;
}

.child-4, .child-2, .child-3, .btn[display]]{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(13, 19, 33, 0.02);
    

    
}

.header2{
    font-size: 40px ;
}

.btn, .a{
    text-decoration: none;
    
    
}

.child-2, .child-3, .child-4,.not-img[display] {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}



/*  vedio part */

.vedio-part{
    text-align: center;
    margin: ;
    font-size: 40px;
    font-weight: 300px;
}

.My-inspiration-content{
    font-size: 16px;
    margin-bottom: 0;
}

.vedio-border{
    border-radius: 16px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
}




/* footer */
.footerimg{
   /* margin: 180px ; */
   /* padding: 40px; */
   align-items: center;
   width: 1440px;
   height: 5245px;
   border-radius: 25px;
   padding: 64px 48px 64px 48px;
}

.last-section{
    background-image: url('../assets/handshake.jpg');
    align-items: center;
    text-align: center;
    padding: 64px;
    
}
