 /* hero section */
#hero{
    /* display: flex; */
    text-align: center;
    /* width: 998px;
    height: 136px; */
    align-items: center;
    padding: 0px;
    margin: 0 auto;    
    background-image: url('../assets/Hero-bg.png');
    margin: 131px 0px ;
}

.heder-up-pic{
    margin: 26px 386px ;
}
#header{
    /* margin-top: 100px; */
    font-size:48px;
    font-weight:800px;

}
#hero{
    /* background-image: url('../assets/Hero-bg.png');
    position: absolute;
    width: 1440px;
    height: 652px; */
}

.section-decription{
    margin:24px 0 ;
}

.btn-bg{
    background-color:rgb(13, 19, 33) ;
    font-weight:600px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 21px 24px;
    border: none;
    margin: 32px 44px ;
    
}

/* main */

.why-we-development{
    background-color: rgba(13, 19, 33, 0.02) ;
    text-align: center;
    align-items: center;
    padding: 0px;
}

.header-why{
    font-size: 40px;
    padding-top: 80px;

}

.content-why{
    display: flex;
    flex-direction: column;
    justify-content:flex-start
}

.why-section{
   border: none;
}

#yellow{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}

.div-1{
    flex-direction: column;
}





 